@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

$my-blue: (
  50: #eaeafd,
  100: #c9caf8,
  200: #a5a8f4,
  300: #7e86f0,
  400: #6069ec,
  500: #434be6,
  600: #3e42da,
  700: #3437ce,
  800: #2c2ac3,
  900: #1a0bb1,
  A100: #bfe0f7,
  A200: #98cdf2,
  A400: #58abe9,
  A700: #337dc6,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

// Define a light theme
$light-primary: mat.define-palette($my-blue, 500);
$light-accent: mat.define-palette(mat.$yellow-palette, 500);
$light-warn: mat.define-palette(mat.$amber-palette, 900);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);

// Apply the light theme by default
// @include mat.button-theme($light-theme);

@media (prefers-color-scheme: light) {
  :root {
    @include mat.all-component-themes($light-theme);
  }
}

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$light-green-palette);
$dark-warn: mat.define-palette(mat.$amber-palette, 900);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// @include mat.button-theme($dark-theme);
@media (prefers-color-scheme: dark) {
  :root {
    @include mat.all-component-colors($dark-theme);
  }
}

$custom-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);

@include mat.all-component-typographies($custom-typography);
